a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:black;
}
body{
    background: linear-gradient(90deg, rgba(237,128,128,1) 0%, rgba(255,210,198,1) 100%, rgba(82,114,101,1) 100%, rgba(0,212,255,1) 100%);
}

